 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1926px;
}

.u-section-1 .u-text-1 {
  font-family: Inter;
  font-weight: bold;
  margin: 45px auto 0;
}

.u-section-1 .u-icon-1 {
  color: rgb(125, 0, 245) !important;
}

.u-section-1 .u-text-2 {
  text-align: start;
  font-family: Inter;
  font-size: 1.25rem;
  margin: 16px auto 0;
}

.u-section-1 .u-text-3 {
  font-family: Inter;
  margin: 12px auto 0;
}

.u-section-1 .u-list-1 {
  width: 801px;
  margin: 31px auto 0;
}

.u-section-1 .u-repeater-1 {
  min-height: 1451px;
  grid-template-columns: calc(33.3333% - 11.3333px) calc(33.3333% - 11.3333px) calc(33.3333% - 11.3333px);
  grid-gap: 17px 17px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 295px;
  text-align: start;
  transition-duration: 0.5s;
  filter: brightness(0.9);
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  font-family: Inter;
  text-align: start;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 22px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  height: 295px;
  text-align: start;
  transition-duration: 0.5s;
  filter: brightness(0.9);
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-1 .u-text-5 {
  font-family: Inter;
  text-align: start;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 22px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  height: 295px;
  text-align: start;
  transition-duration: 0.5s;
  filter: brightness(0.9);
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-1 .u-text-6 {
  font-family: Inter;
  text-align: start;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 22px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  height: 295px;
  text-align: start;
  transition-duration: 0.5s;
  filter: brightness(0.9);
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-1 .u-text-7 {
  font-family: Inter;
  text-align: start;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 22px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-5 {
  height: 295px;
  text-align: start;
  transition-duration: 0.5s;
  filter: brightness(0.9);
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-1 .u-text-8 {
  font-family: Inter;
  text-align: start;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 22px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-image-6 {
  height: 295px;
  text-align: start;
  transition-duration: 0.5s;
  filter: brightness(0.9);
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-1 .u-text-9 {
  font-family: Inter;
  text-align: start;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 22px auto 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-image-7 {
  height: 295px;
  text-align: start;
  transition-duration: 0.5s;
  filter: brightness(0.9);
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-1 .u-text-10 {
  font-family: Inter;
  text-align: start;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 22px auto 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-image-8 {
  height: 295px;
  text-align: start;
  transition-duration: 0.5s;
  filter: brightness(0.9);
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-1 .u-text-11 {
  font-family: Inter;
  text-align: start;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 22px auto 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-image-9 {
  height: 295px;
  text-align: start;
  transition-duration: 0.5s;
  filter: brightness(0.9);
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-1 .u-text-12 {
  font-family: Inter;
  text-align: start;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 22px auto 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 0;
}

.u-section-1 .u-image-10 {
  height: 295px;
  text-align: start;
  transition-duration: 0.5s;
  filter: brightness(0.9);
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-1 .u-text-13 {
  font-family: Inter;
  text-align: start;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 22px auto 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 0;
}

.u-section-1 .u-image-11 {
  height: 295px;
  text-align: start;
  transition-duration: 0.5s;
  filter: brightness(0.9);
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-1 .u-text-14 {
  font-family: Inter;
  text-align: start;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 22px auto 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 0;
}

.u-section-1 .u-image-12 {
  height: 295px;
  text-align: start;
  transition-duration: 0.5s;
  filter: brightness(0.9);
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-1 .u-text-15 {
  font-family: Inter;
  text-align: start;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  margin: 22px auto 0;
}

.u-section-1 .u-text-16 {
  font-family: Inter;
  margin: 29px auto 0;
}

.u-section-1 .u-group-1 {
  width: 413px;
  min-height: 25px;
  margin: 6px auto 0;
}

.u-section-1 .u-text-17 {
  font-family: Inter;
  text-align: start;
  margin: 0 0 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-18 {
  font-family: Inter;
  text-align: start;
  margin: -25px auto 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-19 {
  font-family: Inter;
  text-align: center;
  margin: 32px auto 0;
}

.u-section-1 .u-text-20 {
  margin: 6px auto 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-family: Inter;
  padding: 0;
}

.u-section-1 .u-text-21 {
  font-family: Inter;
  margin: 37px auto 27px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  color: rgb(255, 254, 255) !important;
  font-size: 1.375em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-3 {
    animation-duration: 2750ms;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 11.3333px));
  }

  .u-section-1 .u-image-1 {
    animation-duration: 1000ms;
  }

  .u-section-1 .u-image-2 {
    animation-duration: 1000ms;
  }

  .u-section-1 .u-image-3 {
    animation-duration: 1000ms;
  }

  .u-section-1 .u-image-4 {
    animation-duration: 1000ms;
  }

  .u-section-1 .u-image-5 {
    animation-duration: 1000ms;
  }

  .u-section-1 .u-image-6 {
    animation-duration: 1000ms;
  }

  .u-section-1 .u-image-7 {
    animation-duration: 1000ms;
  }

  .u-section-1 .u-image-8 {
    animation-duration: 1000ms;
  }

  .u-section-1 .u-image-9 {
    animation-duration: 1000ms;
  }

  .u-section-1 .u-image-10 {
    animation-duration: 1000ms;
  }

  .u-section-1 .u-image-11 {
    animation-duration: 1000ms;
  }

  .u-section-1 .u-image-12 {
    animation-duration: 1000ms;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 2935px;
    grid-template-columns: repeat(2, calc(50% - 8.499975px));
  }

  .u-section-1 .u-image-1 {
    height: 398px;
  }

  .u-section-1 .u-image-2 {
    height: 398px;
  }

  .u-section-1 .u-image-3 {
    height: 398px;
  }

  .u-section-1 .u-image-4 {
    height: 398px;
  }

  .u-section-1 .u-image-5 {
    height: 398px;
  }

  .u-section-1 .u-image-6 {
    height: 398px;
  }

  .u-section-1 .u-image-7 {
    height: 398px;
  }

  .u-section-1 .u-image-8 {
    height: 398px;
  }

  .u-section-1 .u-image-9 {
    height: 398px;
  }

  .u-section-1 .u-image-10 {
    height: 398px;
  }

  .u-section-1 .u-image-11 {
    height: 398px;
  }

  .u-section-1 .u-image-12 {
    height: 398px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    height: 597px;
  }

  .u-section-1 .u-image-2 {
    height: 597px;
  }

  .u-section-1 .u-image-3 {
    height: 597px;
  }

  .u-section-1 .u-image-4 {
    height: 597px;
  }

  .u-section-1 .u-image-5 {
    height: 597px;
  }

  .u-section-1 .u-image-6 {
    height: 597px;
  }

  .u-section-1 .u-image-7 {
    height: 597px;
  }

  .u-section-1 .u-image-8 {
    height: 597px;
  }

  .u-section-1 .u-image-9 {
    height: 597px;
  }

  .u-section-1 .u-image-10 {
    height: 597px;
  }

  .u-section-1 .u-image-11 {
    height: 597px;
  }

  .u-section-1 .u-image-12 {
    height: 597px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    height: 376px;
  }

  .u-section-1 .u-image-2 {
    height: 376px;
  }

  .u-section-1 .u-image-3 {
    height: 376px;
  }

  .u-section-1 .u-image-4 {
    height: 376px;
  }

  .u-section-1 .u-image-5 {
    height: 376px;
  }

  .u-section-1 .u-image-6 {
    height: 376px;
  }

  .u-section-1 .u-image-7 {
    height: 376px;
  }

  .u-section-1 .u-image-8 {
    height: 376px;
  }

  .u-section-1 .u-image-9 {
    height: 376px;
  }

  .u-section-1 .u-image-10 {
    height: 376px;
  }

  .u-section-1 .u-image-11 {
    height: 376px;
  }

  .u-section-1 .u-image-12 {
    height: 376px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-18 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: auto;
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1.hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
}

.u-section-1 .u-image-2,
.u-section-1 .u-image-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-2.u-image-2.u-image-2:hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
}

.u-section-1 .u-image-2.u-image-2.u-image-2.hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
}

.u-section-1 .u-image-3,
.u-section-1 .u-image-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-3.u-image-3.u-image-3:hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
}

.u-section-1 .u-image-3.u-image-3.u-image-3.hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
}

.u-section-1 .u-image-4,
.u-section-1 .u-image-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-4.u-image-4.u-image-4:hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
}

.u-section-1 .u-image-4.u-image-4.u-image-4.hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
}

.u-section-1 .u-image-5,
.u-section-1 .u-image-5:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-5.u-image-5.u-image-5:hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
}

.u-section-1 .u-image-5.u-image-5.u-image-5.hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
}

.u-section-1 .u-image-6,
.u-section-1 .u-image-6:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-6.u-image-6.u-image-6:hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
}

.u-section-1 .u-image-6.u-image-6.u-image-6.hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
}

.u-section-1 .u-image-7,
.u-section-1 .u-image-7:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-7.u-image-7.u-image-7:hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
}

.u-section-1 .u-image-7.u-image-7.u-image-7.hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
}

.u-section-1 .u-image-8,
.u-section-1 .u-image-8:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-8.u-image-8.u-image-8:hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
}

.u-section-1 .u-image-8.u-image-8.u-image-8.hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
}

.u-section-1 .u-image-9,
.u-section-1 .u-image-9:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-9.u-image-9.u-image-9:hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
}

.u-section-1 .u-image-9.u-image-9.u-image-9.hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
}

.u-section-1 .u-image-10,
.u-section-1 .u-image-10:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-10.u-image-10.u-image-10:hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
}

.u-section-1 .u-image-10.u-image-10.u-image-10.hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
}

.u-section-1 .u-image-11,
.u-section-1 .u-image-11:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-11.u-image-11.u-image-11:hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
}

.u-section-1 .u-image-11.u-image-11.u-image-11.hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
}

.u-section-1 .u-image-12,
.u-section-1 .u-image-12:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-12.u-image-12.u-image-12:hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
}

.u-section-1 .u-image-12.u-image-12.u-image-12.hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1010px;
}

.u-section-2 .u-group-1 {
  width: 340px;
  margin: 51px auto 0 0;
}

.u-section-2 .u-text-1 {
  font-family: Inter;
  font-weight: 700;
  text-align: center;
  margin: 67px auto 0;
}

.u-section-2 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-text-2 {
  text-align: start;
  font-family: Inter;
  font-size: 1.25rem;
  margin: 13px auto 0;
}

.u-section-2 .u-text-3 {
  font-family: Inter;
  text-align: center;
  margin: 28px auto 60px;
}

.u-section-2 .u-text-4 {
  text-align: start;
  font-family: Inter;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-2 .u-image-1 {
  width: 242px;
  height: 263px;
  margin: 20px auto 60px;
}

.u-section-2 .u-text-5 {
  font-family: Inter;
  width: auto;
  margin: 302px auto 20px;
}

.u-section-2 .u-image-2 {
  width: 242px;
  height: 262px;
  margin: -300px auto 58px 49px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: -24px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-left: 37px;
    margin-right: 37px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 993px;
  }

  .u-section-2 .u-group-1 {
    min-height: 300px;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: 114px;
    margin-top: 0;
  }

  .u-section-2 .u-icon-1 {
    color: rgb(226, 87, 76) !important;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-text-5 {
    margin-bottom: 0;
  }

  .u-section-2 .u-image-2 {
    margin-bottom: 60px;
  }
}