 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 2435px;
}

.u-section-1 .u-image-1 {
  width: 326px;
  height: 57px;
  margin: 58px auto 0;
}

.u-section-1 .u-text-1 {
  text-align: start;
  font-family: Inter;
  font-size: 1.25rem;
  margin: 32px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: Inter;
  margin: 12px auto 0;
}

.u-section-1 .u-text-3 {
  font-family: Inter;
  text-align: center;
  margin: 30px auto 0;
}

.u-section-1 .u-list-1 {
  width: 801px;
  margin: 36px auto 0;
}

.u-section-1 .u-repeater-1 {
  min-height: 1818px;
  grid-template-columns: calc(33.3333% - 11.3333px) calc(33.3333% - 11.3333px) calc(33.3333% - 11.3333px);
  grid-gap: 17px 17px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  text-align: start;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-family: Inter;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-image-2 {
  height: 295px;
  text-align: start;
  transition-duration: 0.5s;
  filter: brightness(0.9);
  margin-top: 15px;
  margin-bottom: 0;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  text-align: start;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-family: Inter;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-image-3 {
  height: 295px;
  text-align: start;
  transition-duration: 0.5s;
  filter: brightness(0.9);
  margin-top: 15px;
  margin-bottom: 0;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  text-align: start;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-family: Inter;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-image-4 {
  height: 295px;
  text-align: start;
  transition-duration: 0.5s;
  filter: brightness(0.9);
  margin-top: 15px;
  margin-bottom: 0;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-7 {
  text-align: start;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-family: Inter;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-image-5 {
  height: 295px;
  text-align: start;
  transition-duration: 0.5s;
  filter: brightness(0.9);
  margin-top: 15px;
  margin-bottom: 0;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-text-8 {
  text-align: start;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-family: Inter;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-image-6 {
  height: 295px;
  text-align: start;
  transition-duration: 0.5s;
  filter: brightness(0.9);
  margin-top: 15px;
  margin-bottom: 0;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-text-9 {
  text-align: start;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-family: Inter;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-image-7 {
  height: 295px;
  text-align: start;
  transition-duration: 0.5s;
  filter: brightness(0.9);
  margin-top: 15px;
  margin-bottom: 0;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-text-10 {
  text-align: start;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-family: Inter;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-image-8 {
  height: 295px;
  text-align: start;
  transition-duration: 0.5s;
  filter: brightness(0.9);
  margin-top: 15px;
  margin-bottom: 0;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-text-11 {
  text-align: start;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-family: Inter;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-image-9 {
  height: 295px;
  text-align: start;
  transition-duration: 0.5s;
  filter: brightness(0.9);
  margin-top: 15px;
  margin-bottom: 0;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-text-12 {
  text-align: start;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-family: Inter;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-image-10 {
  height: 295px;
  text-align: start;
  transition-duration: 0.5s;
  filter: brightness(0.9);
  margin-top: 15px;
  margin-bottom: 0;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-1 .u-container-layout-10 {
  padding: 0;
}

.u-section-1 .u-text-13 {
  text-align: start;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-family: Inter;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-image-11 {
  height: 295px;
  text-align: start;
  transition-duration: 0.5s;
  filter: brightness(0.9);
  margin-top: 15px;
  margin-bottom: 0;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-1 .u-container-layout-11 {
  padding: 0;
}

.u-section-1 .u-text-14 {
  text-align: start;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-family: Inter;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-image-12 {
  height: 295px;
  text-align: start;
  transition-duration: 0.5s;
  filter: brightness(0.9);
  margin-top: 15px;
  margin-bottom: 0;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-1 .u-container-layout-12 {
  padding: 0;
}

.u-section-1 .u-text-15 {
  text-align: start;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-family: Inter;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-image-13 {
  height: 295px;
  text-align: start;
  transition-duration: 0.5s;
  filter: brightness(0.9);
  margin-top: 15px;
  margin-bottom: 0;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-1 .u-container-layout-13 {
  padding: 0;
}

.u-section-1 .u-text-16 {
  text-align: start;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-family: Inter;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-image-14 {
  height: 295px;
  text-align: start;
  transition-duration: 0.5s;
  filter: brightness(0.9);
  margin-top: 15px;
  margin-bottom: 0;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-1 .u-container-layout-14 {
  padding: 0;
}

.u-section-1 .u-text-17 {
  text-align: start;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-family: Inter;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-image-15 {
  height: 295px;
  text-align: start;
  transition-duration: 0.5s;
  filter: brightness(0.9);
  margin-top: 15px;
  margin-bottom: 0;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-1 .u-container-layout-15 {
  padding: 0;
}

.u-section-1 .u-text-18 {
  text-align: start;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-family: Inter;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-image-16 {
  height: 295px;
  text-align: start;
  transition-duration: 0.5s;
  filter: brightness(0.9);
  margin-top: 15px;
  margin-bottom: 0;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-1 .u-text-19 {
  font-family: Inter;
  margin: 43px auto 0;
}

.u-section-1 .u-text-20 {
  font-family: Inter;
  text-align: center;
  margin: 42px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-family: Inter;
  font-weight: 700;
  margin: 36px auto 0;
  padding: 0;
}

.u-section-1 .u-text-21 {
  margin: -46px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-family: Inter;
  padding: 0;
}

.u-section-1 .u-text-22 {
  font-family: Inter;
  margin: 42px auto 58px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 1.375em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 11.3333px));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 8.499975px));
    min-height: 3922px;
  }

  .u-section-1 .u-image-2 {
    height: 398px;
  }

  .u-section-1 .u-image-3 {
    height: 398px;
  }

  .u-section-1 .u-image-4 {
    height: 398px;
  }

  .u-section-1 .u-image-5 {
    height: 398px;
  }

  .u-section-1 .u-image-6 {
    height: 398px;
  }

  .u-section-1 .u-image-7 {
    height: 398px;
  }

  .u-section-1 .u-image-8 {
    height: 398px;
  }

  .u-section-1 .u-image-9 {
    height: 398px;
  }

  .u-section-1 .u-image-10 {
    height: 398px;
  }

  .u-section-1 .u-image-11 {
    height: 398px;
  }

  .u-section-1 .u-image-12 {
    height: 398px;
  }

  .u-section-1 .u-image-13 {
    height: 398px;
  }

  .u-section-1 .u-image-14 {
    height: 398px;
  }

  .u-section-1 .u-image-15 {
    height: 398px;
  }

  .u-section-1 .u-image-16 {
    height: 398px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-2 {
    height: 597px;
  }

  .u-section-1 .u-image-3 {
    height: 597px;
  }

  .u-section-1 .u-image-4 {
    height: 597px;
  }

  .u-section-1 .u-image-5 {
    height: 597px;
  }

  .u-section-1 .u-image-6 {
    height: 597px;
  }

  .u-section-1 .u-image-7 {
    height: 597px;
  }

  .u-section-1 .u-image-8 {
    height: 597px;
  }

  .u-section-1 .u-image-9 {
    height: 597px;
  }

  .u-section-1 .u-image-10 {
    height: 597px;
  }

  .u-section-1 .u-image-11 {
    height: 597px;
  }

  .u-section-1 .u-image-12 {
    height: 597px;
  }

  .u-section-1 .u-image-13 {
    height: 597px;
  }

  .u-section-1 .u-image-14 {
    height: 597px;
  }

  .u-section-1 .u-image-15 {
    height: 597px;
  }

  .u-section-1 .u-image-16 {
    height: 597px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    height: 376px;
  }

  .u-section-1 .u-image-3 {
    height: 376px;
  }

  .u-section-1 .u-image-4 {
    height: 376px;
  }

  .u-section-1 .u-image-5 {
    height: 376px;
  }

  .u-section-1 .u-image-6 {
    height: 376px;
  }

  .u-section-1 .u-image-7 {
    height: 376px;
  }

  .u-section-1 .u-image-8 {
    height: 376px;
  }

  .u-section-1 .u-image-9 {
    height: 376px;
  }

  .u-section-1 .u-image-10 {
    height: 376px;
  }

  .u-section-1 .u-image-11 {
    height: 376px;
  }

  .u-section-1 .u-image-12 {
    height: 376px;
  }

  .u-section-1 .u-image-13 {
    height: 376px;
  }

  .u-section-1 .u-image-14 {
    height: 376px;
  }

  .u-section-1 .u-image-15 {
    height: 376px;
  }

  .u-section-1 .u-image-16 {
    height: 376px;
  }
}

.u-section-1 .u-image-2,
.u-section-1 .u-image-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-2.u-image-2.u-image-2:hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
  box-shadow: 2px 2px 1px 0 rgba(51,41,41,1) !important;
}

.u-section-1 .u-image-2.u-image-2.u-image-2.hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
  box-shadow: 2px 2px 1px 0 rgba(51,41,41,1) !important;
}

.u-section-1 .u-image-3,
.u-section-1 .u-image-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-3.u-image-3.u-image-3:hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
  box-shadow: 2px 2px 1px 0 rgba(51,41,41,1) !important;
}

.u-section-1 .u-image-3.u-image-3.u-image-3.hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
  box-shadow: 2px 2px 1px 0 rgba(51,41,41,1) !important;
}

.u-section-1 .u-image-4,
.u-section-1 .u-image-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-4.u-image-4.u-image-4:hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
  box-shadow: 2px 2px 1px 0 rgba(51,41,41,1) !important;
}

.u-section-1 .u-image-4.u-image-4.u-image-4.hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
  box-shadow: 2px 2px 1px 0 rgba(51,41,41,1) !important;
}

.u-section-1 .u-image-5,
.u-section-1 .u-image-5:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-5.u-image-5.u-image-5:hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
  box-shadow: 2px 2px 1px 0 rgba(51,41,41,1) !important;
}

.u-section-1 .u-image-5.u-image-5.u-image-5.hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
  box-shadow: 2px 2px 1px 0 rgba(51,41,41,1) !important;
}

.u-section-1 .u-image-6,
.u-section-1 .u-image-6:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-6.u-image-6.u-image-6:hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
  box-shadow: 2px 2px 1px 0 rgba(51,41,41,1) !important;
}

.u-section-1 .u-image-6.u-image-6.u-image-6.hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
  box-shadow: 2px 2px 1px 0 rgba(51,41,41,1) !important;
}

.u-section-1 .u-image-7,
.u-section-1 .u-image-7:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-7.u-image-7.u-image-7:hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
  box-shadow: 2px 2px 1px 0 rgba(51,41,41,1) !important;
}

.u-section-1 .u-image-7.u-image-7.u-image-7.hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
  box-shadow: 2px 2px 1px 0 rgba(51,41,41,1) !important;
}

.u-section-1 .u-image-8,
.u-section-1 .u-image-8:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-8.u-image-8.u-image-8:hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
  box-shadow: 2px 2px 1px 0 rgba(51,41,41,1) !important;
}

.u-section-1 .u-image-8.u-image-8.u-image-8.hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
  box-shadow: 2px 2px 1px 0 rgba(51,41,41,1) !important;
}

.u-section-1 .u-image-9,
.u-section-1 .u-image-9:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-9.u-image-9.u-image-9:hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
  box-shadow: 2px 2px 1px 0 rgba(51,41,41,1) !important;
}

.u-section-1 .u-image-9.u-image-9.u-image-9.hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
  box-shadow: 2px 2px 1px 0 rgba(51,41,41,1) !important;
}

.u-section-1 .u-image-10,
.u-section-1 .u-image-10:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-10.u-image-10.u-image-10:hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
  box-shadow: 2px 2px 1px 0 rgba(51,41,41,1) !important;
}

.u-section-1 .u-image-10.u-image-10.u-image-10.hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
  box-shadow: 2px 2px 1px 0 rgba(51,41,41,1) !important;
}

.u-section-1 .u-image-11,
.u-section-1 .u-image-11:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-11.u-image-11.u-image-11:hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
  box-shadow: 2px 2px 1px 0 rgba(51,41,41,1) !important;
}

.u-section-1 .u-image-11.u-image-11.u-image-11.hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
  box-shadow: 2px 2px 1px 0 rgba(51,41,41,1) !important;
}

.u-section-1 .u-image-12,
.u-section-1 .u-image-12:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-12.u-image-12.u-image-12:hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
  box-shadow: 2px 2px 1px 0 rgba(51,41,41,1) !important;
}

.u-section-1 .u-image-12.u-image-12.u-image-12.hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
  box-shadow: 2px 2px 1px 0 rgba(51,41,41,1) !important;
}

.u-section-1 .u-image-13,
.u-section-1 .u-image-13:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-13.u-image-13.u-image-13:hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
  box-shadow: 2px 2px 1px 0 rgba(51,41,41,1) !important;
}

.u-section-1 .u-image-13.u-image-13.u-image-13.hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
  box-shadow: 2px 2px 1px 0 rgba(51,41,41,1) !important;
}

.u-section-1 .u-image-14,
.u-section-1 .u-image-14:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-14.u-image-14.u-image-14:hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
  box-shadow: 2px 2px 1px 0 rgba(51,41,41,1) !important;
}

.u-section-1 .u-image-14.u-image-14.u-image-14.hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
  box-shadow: 2px 2px 1px 0 rgba(51,41,41,1) !important;
}

.u-section-1 .u-image-15,
.u-section-1 .u-image-15:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-15.u-image-15.u-image-15:hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
  box-shadow: 2px 2px 1px 0 rgba(51,41,41,1) !important;
}

.u-section-1 .u-image-15.u-image-15.u-image-15.hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
  box-shadow: 2px 2px 1px 0 rgba(51,41,41,1) !important;
}

.u-section-1 .u-image-16,
.u-section-1 .u-image-16:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-16.u-image-16.u-image-16:hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
  box-shadow: 2px 2px 1px 0 rgba(51,41,41,1) !important;
}

.u-section-1 .u-image-16.u-image-16.u-image-16.hover {
  border-radius: 9px !important;
  transform: scale(1) translateX(0px) translateY(-10px) !important;
  box-shadow: 2px 2px 1px 0 rgba(51,41,41,1) !important;
}